<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdut.pandora.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.gdut.pandora.domain.Product">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="sale" jdbcType="VARCHAR" property="sale"/>
        <result column="stock" jdbcType="VARCHAR" property="stock"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="price" jdbcType="VARCHAR" property="price"/>
        <result column="createTime" jdbcType="BIGINT" property="createTime"/>
        <result column="updateTime" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, title,category, status,sale,stock,image,price,createTime,updateTime
    </sql>
    <sql id="tableName">product</sql>
    <!-- fetch查询 -->
    <select id="fetch" parameterType="com.gdut.pandora.domain.query.ProductQuery"
            resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="tableName"/>
        <include refid="fetchWhereClause"/>
        <include refid="fetchOrderByClause"/>
        <include refid="fetchLimitClause"/>
    </select>

    <!-- fetch where子句-->
    <sql id="fetchWhereClause">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="title != null">
                AND title = #{title}
            </if>
            <if test="category != category">
                AND category = #{category}
            </if>
            <if test="stock != null">
                AND stock = #{stock}
            </if>
            <if test="image != null">
                AND image = #{image}
            </if>
            <if test="status != status">
                AND status = #{status}
            </if>
            <if test="sale != null">
                AND sale = #{sale}
            </if>
            <if test="price != null">
                AND price = #{price}
            </if>
            <if test="createTime != null">
                AND createTime = #{createTime}
            </if>
            <if test="updateTime != null">
                AND updateTime = #{updateTime}
            </if>

        </where>
    </sql>

    <!-- fetch order子句-->
    <sql id="fetchOrderByClause">
        <choose>
            <when test="orderBy != null">
                order by ${orderBy} DESC
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </sql>

    <!-- fetch limit子句-->
    <sql id="fetchLimitClause">
        <if test="start != null and start >= 0 and pageSize != null and pageSize > 0">
            LIMIT #{start}, #{pageSize}
        </if>
    </sql>
</mapper>