<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdut.pandora.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.gdut.pandora.domain.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="userDesc" jdbcType="VARCHAR" property="userDesc"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="focus" jdbcType="VARCHAR" property="focus"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="collection" jdbcType="BIGINT" property="collection"/>
        <result column="createTime" jdbcType="BIGINT" property="createTime"/>
        <result column="updateTime" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,userName,password,email,userDesc,address,phone,focus,image,collection,createTime,updateTime
    </sql>
    <sql id="tableName">user</sql>
    <!--insert/update/select -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.gdut.pandora.domain.query.UserQuery">
        insert into
        <include refid="tableName"/>
        (userName,password,email,userDesc,address,phone,focus,image,collection,createTime,updateTime)
        values(
        #{userName},
        #{password},
        #{email},
        #{userDesc},
        #{address},
        #{phone},
        #{focus},
        #{image},
        #{collection},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <!-- fetch查询 -->
    <select id="select" parameterType="com.gdut.pandora.domain.query.UserQuery" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="tableName"/>
        <include refid="fetchWhereClause"/>
        <include refid="fetchOrderByClause"/>
        <include refid="fetchLimitClause"/>
    </select>

    <!-- fetch查询 -->
    <select id="selectWhthoutPassword" parameterType="com.gdut.pandora.domain.query.UserQuery" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="tableName"/>
        <include refid="fetchWhereClauseOnlyPhone"/>
        <include refid="fetchOrderByClause"/>
        <include refid="fetchLimitClause"/>
    </select>
    <!-- fetch where子句-->
    <sql id="updateWhereClause">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="phone != null">
                AND phone = #{phone}
            </if>
        </where>
    </sql>

    <!-- fetch where子句-->
    <sql id="fetchWhereClause">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="phone != null">
                AND phone = #{phone}
            </if>
            <if test="password != null">
                AND password = #{password}
            </if>
        </where>
    </sql>

    <!-- fetch where子句-->
    <sql id="fetchWhereClauseOnlyPhone">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="phone != null">
                AND phone = #{phone}
            </if>
        </where>
    </sql>
    <!-- fetch order子句-->
    <sql id="fetchOrderByClause">
        <choose>
            <when test="orderBy != null">
                order by ${orderBy}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </sql>

    <!-- fetch limit子句-->
    <sql id="fetchLimitClause">
        <if test="start != null and start >= 0 and pageSize != null and pageSize > 0">
            LIMIT #{start}, #{pageSize}
        </if>
    </sql>


    <!-- 更新记录 -->
    <update id="update" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.gdut.pandora.domain.query.UserQuery">
        UPDATE
        <include refid="tableName"/>
        <set>
            <if test="userName != null">
                userName = #{userName},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="userDesc != null">
                userDesc = #{userDesc},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="focus != null">
                focus = #{focus},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="collection != null">
                collection = #{collection},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime},
            </if>
        </set>
        <include refid="updateWhereClause"/>
        LIMIT 1
    </update>
</mapper>